<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
   
   <!-- Database 환경설정  -->
	<!-- <bean id="ds1" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
		<property name="username" value="scott"/>
		<property name="password" value="tiger"/>
	</bean> -->
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
		  <value>classpath:dbconf/jdbc.properties</value>
		</property>
	</bean>
	
	<bean id="ds1" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>
	
	
	<!-- 
	    EmpDao dao = new EmpDao(ds);
	 -->
	<bean id="empDao" class="dao.EmpDao">
	   <property name="ds">
	    <ref bean="ds1"/>
	  </property>
	</bean>
	
</beans>


