<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<!-- <typeAlias type="#package.#modelname" alias="#modelname"></typeAlias> -->
		<!-- <typeAlias type="vo.VisitVo" alias="visit"/> -->
		<typeAlias type="vo.BoardVo" alias="board"></typeAlias>
		<typeAlias type="vo.MemberVo" alias="member"></typeAlias>
		<typeAlias type="vo.CommentVo" alias="comment"></typeAlias>
		<typeAlias type="RMI.BoardVo" alias="board_rmi"></typeAlias>
	</typeAliases>
	<mappers>
		<mapper resource="config/mybatis/mapper/board.xml" />
		<mapper resource="config/mybatis/mapper/member.xml" />
		<mapper resource="config/mybatis/mapper/comment.xml" />
		<mapper resource="config/mybatis/mapper/board_rmi.xml" />
	</mappers>
</configuration>
