<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/서브_프로젝트_조홍래/src/main/Butten_OX.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="main.Butten_OX"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="서브_프로젝트_조홍래"/>
</launchConfiguration>
